{% extends "stocks/base.html" %}
{% block content %}


{% if show %}
<div class="container-text-center">
        <br>
        <h1>{{ name }} ({{ ticker }})</h1><br>
        <p>{{ description }}</p>
        <br>
        <h4>Today's stock details for {{ ticker }} :</h4><br>
        <table class="table text-center">
            <tr><td style="text-align: left;">Open:</td><td style="text-align: left;">$ {{ open }}</td><td style="text-align: left;">High:</td><td style="text-align: left;">$ {{ high }}</td></tr>
            <tr><td style="text-align: left;">Low:</td><td style="text-align: left;">$ {{ low }}</td><td style="text-align: left;">Close:</td><td style="text-align: left;">$ {{ close }}</td></tr>
            <tr><td style="text-align: left;">Volume:</td><td style="text-align: left;">$ {{ volume }}</td><td style="text-align: left;">Adjusted Open:</td><td style="text-align: left;">$ {{ adjOpen }}</td></tr>
            <tr><td style="text-align: left;">Adjusted High:</td><td style="text-align: left;">$ {{ adjHigh }}</td><td style="text-align: left;">Adjusted Low:</td><td style="text-align: left;">$ {{ adjLow }}</td></tr>
            <tr><td style="text-align: left;">Adjusted Closing:</td><td style="text-align: left;">$ {{ adjClose }}</td><td style="text-align: left;">Adjusted Volume:</td><td style="text-align: left;">$ {{ adjVolume }}</td></tr>
        </table>
</div>
{% endif %}

{% if hasError %}
<div class="container-text-center">
    <br>
    <span style='color:red'>{{error }}</span>
</div>
{% endif %}
{% endblock content %}
