{% extends "stocks/base.html" %}
{% block content %}


<br>
<h1>Watchlist : </h1>
<br>
<div class='container'>
    <table class='table table-bordered'>
        <thead class="thead-light">
            <th>Stock</th>
            <th>Company</th>
            <th>Option</th>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.company }}</td>
                <td>
                    <form action="{% url 'stocks-removeFromWatchlist' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="tsymbol" name="tsymbol" value="{{ stock.symbol }}">
                        <input type="hidden" id="uname" name="uname" value="{{ stock.uname }}">
                        <button type='submit' class="btn btn-outline-danger">Remove</button>
                    </form>
                    
                </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>


{% if hasError %}
<div class="container-text-center">
    <br>
    <span style='color:red'>{{error }}</span>
</div>
{% endif %}
{% endblock content %}